$h3-size: 1.2rem;
$h2-size:2.5rem;
$section-margin:3rem;
$section-padding:3rem;
$headers-margin:2rem;
// 
$secondaryBgColor:#f2f7ff;
$btn-color:linear-gradient(to right, #a933e0 0%, #a597f7 100%);
$bgImg: url(../assets/img/banner/home-banner.jpg);
$bgLittleImg: url(../assets/img/banner/banner.jpg);
$footerColor:rgb(56, 56, 56)
// $headerBgImg: url()